/*
Realizado Por Kevin Linares 
kevinlinares-blog.blogspot.com 
linareskevin.com
kevinlinares.net16.net
*/


p{
	margin:0px; 
	padding:0px; 
	text-indent:10mm; 
	font-size:15pt; 
	line-height:25pt;
	color: #5D63A0;
	font-weight: 500;
	text-align: center;}
.lineHeight{
	line-height: normal}
.header{
	margin-left:25mm;
	}
.contenedor{
	text-align:justify;
	margin-left:15mm;
	margin-right:20mm;}
h2{
	font-size:30pt;
	text-align:center;
	color: #5D63A0;}
.textIndent{ 
	text-indent:none; 
	font-size:10pt; 
	text-align:center;}
b{
	text-transform:capitalize;}
.text-titulo
	{
		font-size: 25pt;}
.img-fondo
	{
		position: absolute;
		z-index: 0;
		text-align: center;}
.titulo{
		margin-top: -375pt;
		z-index: 40;
		position: relative;
		}
.nombre{
		text-align: center;
		font-size: 38;
		color: #000;
		}
.texto-contenido{
		text-align: center;
		color:#5D63A0;
		font-weight: bold;
		font-size: 13pt;
		line-height: 1.0;
		margin-left: -57pt;
		margin-top: 1pt;
}
.fecha{
		margin-left: 205pt;
		font-size: 13pt;
		font-weight: bold;
		color: #000;
		text-align: left;
}