/*
Realizado Por Kevin Linares 
kevinlinares-blog.blogspot.com 
linareskevin.com
kevinlinares.net16.net
*/
@font-face {
	font-family: 'fonts';
    src: url('../../fonts/scifly-sans-webfont.eot');
    src: url('../../fonts/scifly-sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/scifly-sans-webfont.woff2') format('woff2'),
         url('../../fonts/scifly-sans-webfont.woff') format('woff'),
         url('../../fonts/scifly-sans-webfont.ttf') format('truetype'),
         url('../../fonts/scifly-sans-webfont.svg#scifly') format('svg');
}

body,html,h1,h2,h3,h4,h5,h6,section,article,p,div,form,header{margin:0px; padding:0px;}
body{
	background-color:rgba(255,255,255,1);
/*	background:url(../images/bandera-venezuela.jpg) no-repeat center center fixed;*/
	background-image:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:rgba(255,255,255,1);}
.header{
	width:600px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	font-size:12px;
	text-align:center;}
.main{
}
.resultado{
	display:none;
	height: 298px;
	overflow: scroll;
	width: 100%;
	margin: 110px auto;
	overflow-x: hidden;}
.div_form{
		background-image: url("../../img/background/fondo-certificados.png");
	height: 841px;
	margin-bottom: 60px;
	max-width: 1500px;
	margin-left: 0%;
	margin-right: 0%;
	width: 100%;}
.input_text{
	width: 53%;
	text-align: center;
	height: 34px;
	font-family: fonts;
	font-size: 1.2em;}
.input_text:focus{outline:none;}
.text_hidden{
	border:none;
	background-color:rgba(255,255,255,0.0);
	width:100%;
	height:100%;
	text-align:center;
	font-weight:bold;
	font-size:14px;
	color:#605D5D;}
th{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	border-bottom: solid 1px rgba(255,255,255,0.8);}
.sugerencias{
	margin-top:20px;
	width:100px;
	float:left;
	text-align:center;}
.info{
	width:350px; 
	float:left; 
	text-align:center;
	font-weight:bold;
	font-size:18px;}
.personaUno:after
{
	
    content: " ";
    background: transparent url("../../img/iconos/Mocko_03.png") repeat scroll 0% 0%;
    position: absolute;
    width: 560px;
    height: 676px;
    margin-left: -86px;
    float: right;
    z-index: 10;
    top: 214px;

}
.text-certificado {
    font-family: fonts;
    font-size: 1.4em;
    color: #474545;
    padding-top: 118px;
}

input[type="submit"] {
    background-color: #0059A3;
}
input[type="submit"] {
    color: #FFF;
    font-weight: 700;
    padding: 5px 20px 7px;
    border: 0px none;
    border-radius: 5px;
    transition: all 0.3s linear 0s;
    background: #005AFF none repeat scroll 0% 0%;
}
.btn-consultar {
    font-size: 1.2em;
    font-family: fonts;
}
.btn-consultar::before {
    content: url("../../img/iconos/flecha-derecha.png");
    position: absolute;
    margin-left: -38px;
}
.btn-consultar::after {
    content: url("../../img/iconos/flecha-izquierda.png");
    position: absolute;
    margin-left: -3px;
}
#global-containerUno {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto 40px;
}
.global-headerUno {
    width: 89%;
    max-width: 100%;
    background: #FFF none repeat scroll 0% 0%;
    margin: 30px auto 40px;
    box-shadow: 0px 27px 42px rgba(0, 0, 0, 0.14);
}
#main-headerUno {
    padding: 2px 40px;
    text-align: center;
}
#main-headerUno {
    text-align: center;
}
.certificadoUno {
    width: 61%;
    margin: 0px auto;
}
.icono-certificadosUno::before {
    content: url("../../img/iconos/Mockoup-Certificados_03.png");
    display: block;
    left: 0px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

/*tabla*/

thead {
    background-color: #005AFF;
    font-family: fonts;
}
thead tr th {
    font-size: 1.3em;
}

.tbody {
    background-color: #fff;
}

.btn-descargar {
    background-color: #DF002E;
    color: #fff;
    font-family: fonts;
    text-decoration-style: dashed;
    padding: 8px 22px;
	border-radius: 10px;
}
td {
    height: 38px;
}
